name: Regenerate Anki Decks

on:
  push:
    branches:
      - master
  schedule:
    - cron: '0 */4 * * *'


jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
          persist-credentials: false

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Generate decks
        run: |
          python main.py

      - name: Commit and push decks
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "Github Action"

          if git diff --quiet -- decks/*.apkg; then
            echo "No deck changes detected. Skipping commit."
            exit 0
          fi

          git add decks/*.apkg
          git commit -m "Automated decks update [skip ci]" || echo "No changes to commit"
          git push https://x-access-token:${GITHUB_TOKEN}@github.com/${{ github.repository }}.git
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
